<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <!-- Bootstrap CSS -->
        <link th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" rel="stylesheet"/>

        <title th:text="${title}">Insert title here</title>
    </head>

    <body style="padding-top:5rem">
        <div th:replace="~{header/navigation::navigation}"></div>
        
        <div class="container">
            <h1 th:text="${title}">title</h1>
            <h2 th:text="${complete}"></h2>
            
            <form method="post" action="#" th:action="@{/inquiry/confirm}" th:object="${inquiryForm}">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input class="form-control" id="name" name="name" type="text" th:value="*{name}"><br>
                </div>
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input class="form-control" id="email" name="email" type="text" th:value="*{email}"><br>
                </div>
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    
                <div class="form-group">
                    <label for="contents">Detail:</label>
                    <textarea class="form-control" name="contents" id="contents" rows="3" cols="40" th:field="*{contents}"></textarea><br>
                </div>
                <div th:if="${#fields.hasErrors('contents')}" th:errors="*{contents}"></div>
    
                <button type="submit" class="btn btn-primary">Confirm</button>
            </form>
        </div>

        <!-- jQuery, Bootstrap JS -->
        <script th:href="@{/webjars/jquery/3.5.0/js/jquery.min.js}"></script>
        <script th:href="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>
    </body>
</html>